* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #008cba;
    --sec-color: royalblue;
    --tri-color: crimson;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #227dcc, #34d9e1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #4facfe;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.btn {
    background: #4facfe;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

.btn:hover {
    background: var(--primary-color);
}

.result {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #4facfe;
}

.ins {
    background: #4facfe;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: left;
    font-size: 1rem;
}

.ins h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: royalblue;
}

.ins p {
    font-size: 1.2rem;
    margin: 8px 0;
    color: #000;
}

.ins strong {
    color: #2493f5;
}
